// COLORS
$color-primary: #fff;
$color-gray--light: #777;
$color-gray--dark: #999;
$color-gray--light--1: #f7f7f7;
$color-black: #000000;
$color-blue: #292e49;
$color-red: #ec0e0e;
$color-primary--variant: rgba(245, 245, 245, 0.726);
$color-yellow: #cac531;

$color-card-1: #bd69e0;
$color-card-1--1: rgba(188, 105, 224, 0.589);

$color-card-2: rgba(74, 144, 223, 0.856);
$color-card-2--2: rgba(74, 144, 223, 0.582);

//1-2 for 1st,,,,, 2-3 for 2nd,,,,,,, 4 and primary for last

// FONT
$default-size: 1.6rem;

//  GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
